.category-wrapper {
  overflow: hidden;

  & .bi-1 {
    right: -65px;
    top: 370px;
  }

  & .bi-3 {
    left: 60px;
    bottom: -830px;
  }
}

.category-box {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;

  & .category-filter {
    flex: 0 0 25%;
  }

  & .category-main {
    flex: 0 0 73%;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .title {
      color: #231f20;
      font-size: 18px;
      font-weight: $light;
      line-height: 20px;
      margin-bottom: 54px;
    }

    & .category-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;

      & .product-card {
        flex: 0 0 32%;
        margin-bottom: 20px;
      }
    }
  }
}
