.home-carousel-box {
  position: relative;

  & .home-carousel {
    & .item {
      & .img-box {
        height: 550px;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          display: block;
          min-width: 100%;
          min-height: 100%;
        }
      }

      & .info-box {
        position: absolute;
        left: 25px;
        bottom: 50px;
        z-index: 2;

        & .btn {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 75px;
        }
      }
    }
  }
}
