.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 84px 0 25px 0;

  & .footer-nav-box {
    flex: 0 0 35%;
    display: flex;

    & nav {
      margin-right: 70px;

      &:last-child {
        margin-right: 0;
      }

      & ul {
        & .title {
          color: $cadetblue-color;
          font-size: 17px;
          font-weight: $Medium;
          margin-bottom: 17px;
        }

        & li a {
          color: #c3c1c0;
          font-size: 14px;
          font-weight: 400;
          line-height: 25px;

          &:hover {
            color: $title-color;
          }
        }
      }
    }
  }

  & .footer-logo-box {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .social {
      margin-bottom: 24px;

      & ul li {
        & .fa {
          & svg {
            fill: #bcdcc7;
          }
        }

        & .icon-facebook svg:hover {
          fill: #3b5999;
        }

        & .icon-instagram svg:hover {
          fill: #e4405f;
        }

        & .icon-youtube svg:hover {
          fill: #cd201f;
        }
      }
    }

    & .copyright {
      display: block;
      color: $white-text;
      font-size: 14px;
      font-weight: $Regular;
      line-height: 16px;
      position: absolute;
      bottom: 60px;
      text-align: center;

      & a {
        display: block;
        color: $white-text;
        font-size: 14px;
        font-weight: $Regular;
        line-height: 16px;
        cursor: pointer;
      }
    }
  }

  & .footer-options {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title {
      display: block;
      color: $cadetblue-color;
      font-size: 17px;
      font-weight: $Medium;
      margin-bottom: 22px;
    }

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input[type="text"] {
        display: block;
        border: 0;
        width: 263px;
        height: 40px;
        border-radius: 15px;
        background-color: #f7f5f5;
        color: #aaaaaa;
        font-size: 14px;
        font-weight: $Regular;
        line-height: 25px;
        text-align: center;
        border: 2px solid #f7f5f5;
        margin-bottom: 16px;

        &:focus {
          outline: none;
          background-color: $white;
          border: 2px solid $cadetblue-color;
          color: $title-color;
        }
      }

      & .btn {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
        color: $title-color;
        font-size: 15px;
        font-weight: $Medium;
        line-height: 24px;
        border-bottom: 1px dashed $title-color;
        margin-bottom: 73px;
      }
    }

    & nav {
      margin-bottom: 20px;

      & ul {
        display: flex;
        align-items: center;

        & li {
          margin-right: 25px;

          &:last-child {
            margin-right: 0;
          }

          & a {
            color: #c3c1c0;
            font-size: 14px;
            font-weight: $Regular;
            line-height: 25px;

            &:hover {
              color: $title-color;
            }
          }
        }
      }
    }
  }
}
