/* === heeader === */

@media (max-width: 1199px) {
  .navigations .navbar .navbar-collapse .navbar-nav .nav-item .nav-link,
  .footer-navigations .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .header {
    & .header-box {
      height: 80px;

      & .logo {
        flex: 0 0 90px;
        height: 76px;
      }

      & .nav-box {
        flex: 0 0 auto;
        flex-direction: row-reverse;

        & .navigations {
          margin-left: auto;

          & .navbar {
            padding: 0;

            & .navbar-collapse .navbar-nav {
              & .nav-item {
                border: 0;
                margin: 0;
                margin-bottom: 50px;

                &:last-child {
                  margin-bottom: 0;
                }

                &:hover {
                  border: 0;
                }

                & .nav-link {
                  padding-bottom: 5px;
                  font-size: 20px;
                }

                & .btn {
                  display: block;
                  padding: 11px;

                  & span {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }

        & .active span {
          font-size: 20px;
          color: $yellow-color;
        }
      }

      & .user-options {
        padding-right: 70px;

        & .login {
          margin-right: 30px;
        }
      }
    }
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: $cadetblue-color;
    outline: none !important;
    position: absolute;
    right: 0;
    z-index: 10;
  }

  .navbar-toggler span,
  .navbar-toggler span:before,
  .navbar-toggler span:after {
    display: block;
    height: 2px;
    background-color: $white;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    transition: all 0.25s ease;
  }

  .navbar-toggler span:before,
  .navbar-toggler span:after {
    content: "";
    position: absolute;
  }

  .navbar-toggler span:before {
    top: -10px;
  }

  .navbar-toggler span:after {
    top: 10px;
  }

  .open span {
    background: transparent;
  }

  .open span:before {
    transform: translate(-30%, 50%) rotate(45deg);
    transform-origin: top left;
  }

  .open span:after {
    transform: translate(-30%, -50%) rotate(-45deg);
    transform-origin: bottom left;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9;
    padding-top: 60px;

    & .navbar-nav .nav-item .nav-link {
      padding: 0;
      // color: $orange-color;
    }
  }
}

@media (max-width: 767px) {
  .subheader form {
    & input[type="text"] {
      &:focus {
        width: 210px;
      }
    }
  }
}

@media (max-width: 575px) {
  .subheader {
    & nav ul li {
      margin-right: 12px;

      & a {
        display: block;
        height: 40px;
        line-height: 40px;
      }
    }

    & form {
      position: absolute;
      right: 0;
      left: 0;

      & input[type="text"] {
        display: block;
        width: 95px;
        margin-left: auto;
        padding: 0 40px 0 15px;
        color: #fff;

        &:focus {
          min-width: 100%;
        }
      }

      & input[type="button"] {
        width: 36px;
        height: 36px;
        position: absolute;
        right: 2px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .header .header-box .user-options {
    padding-right: 55px;

    & .login {
      margin-right: 10px;
    }
  }
}

@media (min-width: 320px) {
  body.sticky-header {
    .header {
      background-color: rgba(255, 255, 255, 0.8);
    }

    .header-main-wrapper .header-main {
      height: 0;
      overflow: hidden;
    }
  }
}

/* === footer === */

@media (max-width: 1199px) {
  .footer-box .footer-options nav ul {
    justify-content: space-between;

    & li {
      flex: 0 0 32%;
      text-align: center;
      margin-right: 0;
    }
  }
}

@media (max-width: 991px) {
  .footer-navigations-wrapper {
    height: 5px;
    border-bottom: none;
    overflow: hidden;
  }

  .footer-box {
    padding: 35px 0 25px 0;

    & .footer-nav-box {
      display: none;
    }

    & .footer-logo-box {
      flex: 0 0 260px;
    }

    & .footer-options {
      flex: 0 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .footer-box {
    flex-direction: column;
    padding: 35px 0 80px 0;

    & .footer-logo-box {
      margin-bottom: 30px;

      & .copyright {
        bottom: 25px;
        color: $cadetblue-color;

        & a {
          color: $cadetblue-color;
        }
      }
    }
  }
}

/* === gallery-box === */

@media (max-width: 991px) {
  .gallery-box .gallery-list .gallery-item {
    flex: 0 0 48%;
    height: 332px;
    margin-right: 4%;
    margin-bottom: 25px;

    &:nth-last-child(2n + 1) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

/* === home-carousel === */

@media (max-width: 1199px) {
  .home-carousel-box .home-carousel .item .img-box {
    height: 450px;
  }
}

@media (max-width: 991px) {
  .home-carousel-box .home-carousel .item .img-box {
    height: 335px;
  }
}

/* === product-card === */

@media (max-width: 1199px) {
  .product-card {
    height: 435px;

    & .img-box {
      height: 298px;
    }
  }
}

@media (max-width: 991px) {
  .product-card {
    height: 475px;

    & .img-box {
      height: 338px;
    }
  }
}

/* === home page === */

@media (max-width: 1199px) {
  .home-carousel-wrapper {
    & .bi-1 {
      display: none;
    }

    & .bi-3 {
      display: none;
    }
  }

  .product-list-wrapper .bi-2 {
    display: none;
  }

  .footer {
    & .bi-2 {
      display: none;
    }

    & .bi-1 {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .product-card-box .product-card-list .product-card {
    flex: 0 0 32%;
    margin-right: 2%;
    margin-bottom: 15px;

    &:nth-last-child(3n + 1) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-card-box .product-card-list .product-card {
    flex: 0 0 49%;
    margin-right: 2%;
    margin-bottom: 15px;

    &:nth-last-child(2n + 1) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 991px) {
  .home-category-box .home-category-item {
    height: 135px;

    &:hover {
      & .item-info {
        bottom: 5px;
      }
    }
  }

  .article-box .article {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
