/* Colors */

$white: #fff;
$white-text: #fff;
$black-color: #000;
$text-color: #c9c9c9;
$cadetblue-color: #a5c1c2;
$btn-color: #679c88;
$yellow-color: #e5d11a;
$red-color: #f47c53;
$title-color: #231f20;

/* Fonts */

$ApercuPro: "Apercu Pro", sans-serif;
$ApercuProMono: "Apercu Pro", monospace;

$light: 300;
$Regular: normal;
$Medium: 500;
$Bold: bold;

/*title*/

// $h1: 29px;
// $h2: 26px;
// $h3: 20px;
// $h4: 17px;
// $h5: 15px;
// $h6: 14px;

/*text*/

$font-text: 14px;
